
header{position:fixed;left:0;}
main{padding:30px 30px 30px 250px;}
/* 공통 셋팅 */
.box{padding:10px 20px;margin-bottom:20px;background-color:#fff;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);border-radius:10px;}
/* 제목 */
.title{font-weight:600;}
.title span{margin-left:10px;font-size: 10px;font-weight:400;}
/*boardNotice*/
.boardNotice ul,.gridWrap{display:flex;justify-content:space-between;}
.boardNotice ul li{font-size:14px;}
.boardNotice ul li:nth-child(2) {width:80%;}
.boardNotice ul li:nth-child(2) a{width:100%; display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* pManagement */
.pManagement .title{margin-bottom: 14px;}
.pManagement ul{display:flex;justify-content:space-between;}
.pManagement li span{margin-left:40px;font-weight:600;color:rgb(252, 49, 49);}
.pManagement li:nth-child(1) span{color:rgb(62, 62, 245);}
.pManagement li:last-child span{color:rgb(84, 84, 84);}
/* gridWrap */
.answer>p{margin-bottom:20px;}
.answer .tabMenu{display:flex;justify-content:center;}
.answer .tabMenu li{width:33%;text-align:center; border:1px solid #999;background-color:#f3f3f3;}
.answer .tabMenu li a{color:#777;}
.answer .tabMenu .on {background-color:#fff;}
.answer .tabMenu .on a {color:#000;}
/* 왼쪽 */
.left{margin-right:20px; display:flex;justify-content:space-between;flex-wrap:wrap;}
.left .box{width:48%;}
.left .title{margin-bottom:20px;}
.left .box li{margin:8px 0; display:flex;justify-content:space-between;}
/* 상품리뷰 */
.left>div:last-child{width:100%;display:flex;justify-content:space-between;align-items:center;}
.left>div:last-child .title{width:20%;text-align:center;}
.reviewList{width:78%;}
.reviewList li{padding:4px 0;border-bottom:1px solid #000;font-size:14px;}
.reviewList li a{width:100%; display:flex;}
.reviewList li span:last-child{width:100%;margin-left:14px; display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/* 오른쪽 문의 게시만 */
.right{width:38%;}
.tabMenu>li>a{width:100%;display:flex;justify-content:center;align-items:center;}
.tabMenu>li>a::after{content:"!"; margin-left:8px;color:rgb(252, 49, 49);font-size:10px;font-weight:bold;}
.subAnswer{padding:0 4px}
.subAnswer div{margin:10px 0; font-size:14px;border-bottom:1px solid #888;}
.subAnswer>div>a p{width:100%; display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.answerMore{padding:4px 0;text-align:center;text-decoration:underline;}